# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.M2AI-FAI-GeneticAlgorithm.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Pauloamm\Desktop\PerpetuaInsanus\M2AI-FAI-GeneticAlgorithm\.idea\.idea.M2AI-FAI-GeneticAlgorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
